{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/group_list.css' %}">

<section class="main">
  <h1 class="title">그룹 참여하기</h1>
  <div class="container">
    <div class="list_container">
      <a class="a_deco" href="{% url 'groups:group_detail' %}">
        <div class="list_card">
          일찍 일어나는 새 모집
        </div>
      </a>
      <div class="list_card">
        일찍 일어나는 새 모집
      </div>
      <div class="list_card">
        일찍 일어나는 새 모집
      </div>
      <div class="list_card">
        일찍 일어나는 새 모집
      </div>
    </div>
    <a href="{% url 'groups:make_group' %}" class="btn1 btn_center">그룹 만들기</a>
  </div>
</section>
{% endblock %}