{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<section class="main">
  <div class="goal_container">
    <h1 class="text_center">{{ goal.name }}</h1>
    <h3 class="text_center">하루 {{ goal.goal_page }}페이지 독서하기</h3>
    <p>참여인원: {{ member_count }}</p>
  </div>

  <div class="goal_check table_container">
    <table>
      <thead>
        <!-- 날짜 1~10일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th>{{ dates|index_1:forloop.counter0|date:'m/d' }}</th>
          {% endfor %}
        </tr>
        <!-- 잔디밭 1~10일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th class="level{{ level|index_1:forloop.counter0 }}"></th>
          {% endfor %}
        </tr>
        <!-- 날짜 10~20일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th>{{ dates|index_2:forloop.counter0|date:'m/d' }}</th>
          {% endfor %}
        </tr>
        <!-- 잔디밭 10~20일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th class="level{{ level|index_2:forloop.counter0 }}"></th>
          {% endfor %}
        </tr>
        <!-- 날짜 20~30일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th>{{ dates|index_3:forloop.counter0|date:'m/d' }}</th>
          {% endfor %}
        </tr>
        <!-- 잔디밭 20~30일 -->
        <tr>
          {% for i in "x"|rjust:"10" %}
          <th class="level{{ level|index_3:forloop.counter0 }}"></th>
          {% endfor %}
        </tr>
      </thead>
    </table>
  </div>

  <div class="goal_verify">
    <a class="btn1" href="{% url 'groups:certify' goal.id %}">인증하기</a>
    <a class="btn1" href="{% url 'groups:personal' goal.id %}">개인 도장판</a>
    <a class="btn1" href="{% url 'groups:show_certify' goal.id %}">인증 열람</a>
  </div>
</section>

{% endblock %}