{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/personal.css' %}">
<link rel="stylesheet" href="{% static 'css/show_certify.css' %}">

<section class="main">
  <div class="main_title">
    <h1 class="text_center">{{ goal.name }}</h1>
    <h3 class="text_center">하루 {{ goal.goal_page }}페이지 독서하기</h3>
    <h4 class="text_center">참여인원: {{ member_count }}</h4>
  </div>

  <ul class="tab_container">
    <li class="tab_item active" data-tab="tab1">
      <a class="tab_item_title" href="#">메인</a>
    </li>
    <li class="tab_item" data-tab="tab2">
      <a class="tab_item_title" href="#">나의 도장판</a>
    </li>
    <li class="tab_item" data-tab="tab3">
      <a class="tab_item_title" href="#">인증 열람</a>
    </li>
  </ul>

  <div class="main_container">
    <section class="content-container">
      <article id="tab1" class="content-container__content target goal_check table_container">
        <table>
          <thead>
            <!-- 날짜 1~10일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <th>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn4" index="{{ forloop.counter0 }}">
                  {{ dates|index_1:forloop.counter0|date:'m/d' }}
                </button>
              </th>
              {% endfor %}
            </tr>
            <!-- 잔디밭 1~10일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <p hidden class="level{{ level|index_1:forloop.counter0 }}">{{ name|index_1:forloop.counter0 }}</p>
              <th class="level{{ level|index_1:forloop.counter0 }}"></th>
              {% endfor %}
            </tr>
            <!-- 날짜 10~20일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <th>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn4" index="{{ forloop.counter0 }}">
                  {{ dates|index_2:forloop.counter0|date:'m/d' }}
                </button>
              </th>
              {% endfor %}
            </tr>
            <!-- 잔디밭 10~20일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <p hidden class="level{{ level|index_2:forloop.counter0 }}">{{ name|index_2:forloop.counter0 }}</p>
              <th class="level{{ level|index_2:forloop.counter0 }}"></th>
              {% endfor %}
            </tr>
            <!-- 날짜 20~30일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <th>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn4" index="{{ forloop.counter0 }}">
                  {{ dates|index_3:forloop.counter0|date:'m/d' }}
                </button>
              </th>
              {% endfor %}
            </tr>
            <!-- 잔디밭 20~30일 -->
            <tr>
              {% for i in "x"|rjust:"10" %}
              <p hidden class="level{{ level|index_3:forloop.counter0 }}">{{ name|index_3:forloop.counter0 }}</p>
              <th class="level{{ level|index_3:forloop.counter0 }}"></th>
              {% endfor %}
            </tr>
          </thead>
        </table>
      </article>
      <article id="tab2" class="content-container__content">
        <!-- <div class="psn_top">
          <h1 class="text_center">{{ goal.name }}</h1>
          <h3 class="text_center">하루 {{ goal.goal_page }}페이지 독서하기</h3>
        </div> -->
        {% if 30 >= start_days %}
        <div class="psn_boxes">
          <div class="psn_box start">
            시작<br><span class="psn_day">{{ start_days }}</span><br>일째
          </div>
          <div class="psn_box continuity">
            연속<br><span class="psn_day">{{ continuity_days }}</span><br>일째
          </div>
          <div class="psn_box success">
            성공<br><span class="psn_day">{{ success_days }}</span><br>일째
          </div>
        </div>
        {% else %}
        <div class="psn_boxes">
          <h2>{{dates|index_1:0}} ~ {{dates|index_1:29}}</h2>
        </div>
        {% endif %}
        <div class="psn_check table_container">
          <table>
            <thead>
              <!-- 날짜 1~10일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                <th>{{ dates|index_1:forloop.counter0|date:'m/d' }}</th>
                {% endfor %}
              </tr>
              <!-- 인증 1~10일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                {% if achievements|index_1:forloop.counter0 == True %}
                <th><i class="fas fa-star light"></i></th>
                {% elif achievements|index_1:forloop.counter0 == False %}
                <th><i class="fas fa-star grey"></i></th>
                {% else %}
                <th> </th>
                {% endif %}
                {% endfor %}
              </tr>
              <!-- 날짜 10~20일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                <th>{{ dates|index_2:forloop.counter0|date:'m/d' }}</th>
                {% endfor %}
              </tr>
              <!-- 인증 10~20일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                {% if achievements|index_2:forloop.counter0 == True %}
                <th><i class="fas fa-star light"></i></th>
                {% elif achievements|index_2:forloop.counter0 == False %}
                <th><i class="fas fa-star grey"></i></th>
                {% else %}
                <th> </th>
                {% endif %}
                {% endfor %}
              </tr>
              <!-- 날짜 20~30일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                <th>{{ dates|index_3:forloop.counter0|date:'m/d' }}</th>
                {% endfor %}
              </tr>
              <!-- 인증 20~30일 -->
              <tr>
                {% for i in "x"|rjust:"10" %}
                {% if achievements|index_3:forloop.counter0 == True %}
                <th><i class="fas fa-star light"></i></th>
                {% elif achievements|index_3:forloop.counter0 == False %}
                <th><i class="fas fa-star grey"></i></th>
                {% else %}
                <th> </th>
                {% endif %}
                {% endfor %}
              </tr>
            </thead>
          </table>
        </div>
      </article>
      <article id="tab3" class="content-container__content certify_container">
        <ul class="certify_list member">
          <li><i class="fas fa-crown"></i> 매니저<span>{{goal.manager}}</span></li>
          <li><i class="fas fa-user-circle"></i> 팀원
            <span>
              {% for member in goal.member.all %}
              {% if request.user == goal.manager %}
              <a href="{% url 'groups:delete_member' goal.id member.id %}" class="a_deco"
                onclick="return confirm('정말로 팀원은 퇴장시키겠습니까?😥')">&nbsp;&nbsp;{{member}}</a>
              {% else %}
              {{member}}
              {% endif %}
              {% endfor %}
            </span>
          </li>
          <li>
            퇴장시키고 싶은 팀원을 클릭해주세요! 매니저만 팀원을 퇴장시킬 수 있습니다.
          </li>
        </ul>
        {% for certify in certifies %}
        <ul class="certify_list">
          <li>아이디<span>{{ certify.user }}</span></li>
          <li>인증날짜<span>{{ certify.created }}</span></li>
          {% if goal.certify_method == 'image' %}
          {% if certify.image %}
          <img src="{{ certify.image.url }}" alt="image" width=auto height="200px">
          {% endif %}
          {% elif goal.certify_method == 'text' %}
          <li>인증내용<span>{{ certify.text }}</span></li>
          {% else %}
          <li>인증수치<span>{{ certify.value }}</span></li>
          {% endif %}
        </ul>
        {% endfor %}
      </article>
    </section>
  </div>

  {% if 30 >= start_days %}
  <div class="goal_verify">
    <a class="btn1" href="{% url 'groups:certify' goal.id %}">인증하기</a>
  </div>
  {% endif %}

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-container">
      <span class="close"><i class="fas fa-times"></i></span>
      <div class="modal-content">
        <h4 class="modal-title" id="exampleModalLabel">성공 인원</h4>
        <div class="modal-body">
          <th>{{ name|index_1:0 }}</th>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/group_main.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}