{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/select.css' %}">

<section class="main">
  <h1 class="title">그룸 참여하기</h1>
  <div class="container">
    <div class="select_group">
      <div class="select_card">
        일찍 일어나는 새 모집
      </div>
      <div class="select_card">
        일찍 일어나는 새 모집
      </div>
      <div class="select_card">
        일찍 일어나는 새 모집
      </div>
      <div class="select_card">
        일찍 일어나는 새 모집
      </div>
    </div>
    <button class="btn1 btn_center">그룹 만들기</button>
  </div>
</section>
{% endblock %}