{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/show_certify.css' %}">

<section class="main">
  <h1 class="title">인증열람</h1>
  <div class="certify_container">
    {% for certify in certifies %}
    <ul class="certify_list">
      <li>아이디<span>{{ certify.user }}</span></li>
      <li>인증날짜<span>{{ certify.created }}</span></li>
      {% if goal.certify_method == 'image' %}
      {% if certify.image %}
      <img src="{{ certify.image.url }}" alt="image" width="200px" height="200px">
      {% endif %}
      {% elif goal.certify_method == 'text' %}
      <li>인증내용<span>{{ certify.text }}</span></li>
      {% else %}
      <li>인증수치<span>{{ certify.value }}</span></li>
      {% endif %}
    </ul>
    {% endfor %}
  </div>
</section>

{% endblock %}