tr {
  height: 45px;
}

td {
  padding-right: var(--padding-large);
}

.date_input {
  height: 40px;
  border: 1.7px solid var(--white-color);
  background-color: var(--white-dark-color);
  text-align-last: center;
}

.date_input:focus,
textarea:focus {
  outline: none;
}
