.list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.list_card {
  border: 1px solid;
  text-align: center;
  font-size: 1.2rem;
  padding: var(--padding-large) 0;
}
