.goal_boxes {
  display: flex;
  justify-content: center;
}

.goal_box {
  border: 1px solid;
  text-align: center;
  width: 15%;
  font-size: 1.2rem;
  padding: var(--padding-large) 0;
  margin: 0 12px;
}

.goal_day {
  font-size: 2.5rem;
  font-weight: 800;
}

/* btns */
.goal_verify {
  display: flex;
  justify-content: center;
}

.goal_verify > a {
  margin: var(--padding-micro);
}

/* star board */
.level1 {
  background-color: white;
}

.level2 {
  background-color: rgba(253, 204, 0, 0.25);
}

.level3 {
  background-color: rgba(253, 204, 0, 0.5);
}

.level4 {
  background-color: rgba(253, 204, 0, 0.75);
}

.level5 {
  background-color: rgb(253, 204, 0);
}
