{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/mypage.css' %}">

<section class="main">
  <h1 class="my_title">마이페이지</h1>
  <div class="my_tab">
    <button class="btn clicked my_goalBtn">나의 목표 보기</button>
    <button class="btn my_infoBtn">개인 정보 보기</button>
  </div>

  <div class="my_content">
    <div class="my_goal">
      <div class="my_make_container">
        <h3>내가 개설한 목표</h3>
        <div class="my_make">
          {% for goal in my_goal %}
          <div class="my_goalItem">
            <a href="{% url 'groups:main' goal.pk %}" class="a_deco">{{goal.name}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="my_join_container">
        <h3>내가 참여한 목표</h3>
        <div class="my_join">
          {% for goal in participate_goal %}
          <div class="my_goalItem">
            <a href="{% url 'groups:main' goal.pk %}" class="a_deco">{{goal.name}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="my_info">
      <ul class="my_info_list">
        {% if not user.profile.image %}
        <img class="nav_logo" src="{% static 'img/logo.png' %}" alt="">
        {% else %}
        <img class="nav_logo" src="{{user.profile.image.url}}" alt="">
        {% endif %}
        <li>아이디<span>{{user}}</span></li>
        <li>닉네임<span>{{user.profile.nickname}}</span></li>
        <li>⭐<span>{{user.profile.cash}}별</span></li>
      </ul>
      <a href="{% url 'users:mypage_update' %}" class="btn1 btn_center">개인정보 수정</a>
    </div>
  </div>
  </div>
</section>

<script src="{% static 'js/mypage.js' %}"></script>
{% endblock %}