{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/select.css' %}">

<section class="main">
  <h1 class="title">그룹 만들기</h1>
  <div class="container">
    <form action="{% url 'main:create_goal' %}" method="post">
    {% csrf_token %}
    <div class="make_group">
      <div>
        카테고리
        <select name="category" id="category" required>
          <option value="study">공부</option>
          <option value="hobby">취미</option>
          <option value="etc">기타</option>
        </select>
      </div>
      <div>
        인증방식
        <select name="certify_method" id="certify" required>
          <option value="image">이미지</option>
          <option value="text">텍스트</option>
          <option value="figure">수치</option>
        </select>
      </div>
      <div>
          목표 시작 날짜
          <input type="date" name="start_date" required>
      </div>
      <div>
        목표 마감 날짜
        <input type="date" name="deadline" required>
      </div>
      <div>
          참가비
          <input type="number" name="fee" class="input1" required>
      </div>
      <div class="make_title">
        목표 이름
        <input class="input1" name="name" required>
      </div>
      <div class="make_content">
        목표 설명
        <textarea name="description" required></textarea>
      </div>
      <div class="make_people">
        참여 인원수
        <input type="number" name="member_limit" class="input1" required>
      </div>
      <div>
        수치 : 기준값
        <input type="number" name="value" class="input1">
      </div>
      <div>
        수치 : 단위
        <input name="unit" class="input1">
      </div>
      <div>
        기준
        <select name="criteria" id="criteria">
            <option value="true">이상</option>
            <option value="false">이하</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn1 btn_center">만들기</button>
    </form>
  </div>
</section>
{% endblock %}