{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/select.css' %}">

<section class="main">
  <h1 class="title">그룹 참여하기</h1>
  <div class="container">
    <div class="select_group">
      {% for goal in goals %}
        <div class="select_card">
            {{goal.name}}
        </div>
      {% endfor %}
    </div>
    <button class="btn1 btn_center"><a href="{% url 'main:add_goal' %}">그룹 만들기</a></button>
  </div>
</section>
{% endblock %}