{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/goal_main.css' %}">

<section class="main">
  <h1 class="title">그룹 참여하기</h1>
  <div class="container">
    <div class="main_container">
      {% for goal in goals %}
      <div class="main_card">
        <a href="{% url 'main:goal_detail' goal.pk %}" class="a_deco">{{goal.name}}</a>
      </div>
      {% endfor %}
    </div>
    <a href="{% url 'main:add_goal' %}" class="btn1 btn_center a_deco">그룹 만들기</a>
  </div>
</section>

<script src="{% static 'js/goal_main.js' %}"></script>
{% endblock %}